.off-canvas {
  padding-top: ($global-padding * 2);

  .menu {
    @include flex-grid-column();
    margin-bottom: $global-margin;
  }

  .widget-area {
    @include flex-grid-column();
    flex: flex-grid-column(12);
    max-width: grid-column(12);
  }
}
